<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width">
<title>repl.it</title>
<link rel="stylesheet" href="css/style.css">
</head>
<body>

<header>
<p>NEW YORK TIMES</p>
</header>

<div class="logo1"><img src="imagens/logo.png"></div>
<div class="pessoas"><img src="imagens/pessoas.png" width="500px" height="300px"></div>


<div class="botao2"><a href="/noticia"><img src="imagens/botao1.png"></a></div><br/>

<footer>
<h3>NEW YORK TIMES</h3>
<p>We believe that great journalism has the power to make each reader’s life richer and more fulfilling, and all of society stronger and more just.</p>
<p class="direitos">© 2021 - All rights reserved</p>
</footer>

<script src="script.js"></script>
</body>
</html>
