<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/estilo.css">
  <script src="javascript/scripts.js"></script>
  <title>MyNewsPage</title>
</head>

<body>

<!--Cabeçalho da minha pagina!-->
<div id="header">
<b>NEW YORK TIMES</b>
</div>
<!--Inicio do conteudo principal!-->
<main class="col-12 g-0">
<article>						

<h2>Economia em 2022: por que expectativas para o Brasil estão piorando rapidamente</h2><p class="data">Da BBC News Brasil em São Paulo 15 setembro 2021, 04:40 -03<p>


 <img src="imagens/list1.jpg" width="650px" height="450px">

 <p>Os economistas estão revisando fortemente para baixo suas expectativas para o desempenho da economia brasileira em 2022.

Na terça-feira (14/9), o banco Itaú reduziu sua expectativa para o crescimento do PIB (Produto Interno Bruto) no próximo ano de 1,5% para 0,5%. O maior banco privado do país também passou a prever aumento do desemprego no próximo ano, com a taxa de desocupação subindo de 12,1% ao fim de 2021, para 12,5% em dezembro de 2022.</p>

<p>Além do Itaú, diversas outras instituições financeiras e casas de análise passaram a prever PIB menor, inflação mais alta e juros também mais elevados no cenário próximo.

O crescimento do PIB e a situação do mercado de trabalho e da renda no próximo ano geram grande expectativa, pois são fatores determinantes no bem estar da população e no desenrolar de eleições em que o atual presidente tenta a recondução ao cargo. </p>



<div class="botao1"><a href="/"><img src="imagens/botao.png"></a></div>
</article>
</main>

<!--Rodapé da minha pagina!-->
<footer>
<h3>NEW YORK TIMES</h3>
<p>We believe that great journalism has the power to make each reader’s life richer and more fulfilling, and all of society stronger and more just.</p>
<p class="direitos">© 2021 - Todos os direitos reservados</p>
</footer>

</body>
</html>