<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/estilo.css">
  <script src="javascript/scripts.js"></script>
  <title>MyNewsPage</title>
</head>

<body>

<!--Cabeçalho da minha pagina!-->
<div id="header">
<b>NEW YORK TIMES</b>
</div>
<!--Inicio do conteudo principal!-->
<main class="col-12 g-0">
<article>						

<h2>Artefatos pré-históricos são encontrados em estômago de crocodilo nos EUA </h2><p>13/09/2021 às 23:43 | Atualizado 14/09/2021 às 12:58</p>

 <img src="imagens/list4.jpg" width="650px" height="450px">

 <p>Smith achou os objetos. Uma ponta de projétil que fazia parte de uma ferramenta de caça e algo que parecia uma isca de pesca. Eles eram interessantes o suficiente, então postou sobre isso na página da loja no Facebook.

O geólogo James Starnes olhou as fotos dos objetos e foi capaz de contar um pouco sobre sua história, com base em sua pesquisa de artefatos nativos americanos encontrados no Delta do Mississípi. </p>
<p>Starnes é o diretor de geologia de superfície e mapeamento de superfície do Departamento de Qualidade Ambiental do Mississípi.</p>

<img src="imagens/arte.png" width="650px" height="450px">

<p> Ele descreveu os objetos como um prumo, que é de metal em forma de lágrima de uso desconhecido, e uma “ponta de dardo atlatl”, que é uma lança ou dardo usado para caça.

“Tivemos habitantes nativos americanos na América do Norte, especialmente no Mississípi, provavelmente remontando a mais de 12.000 anos”, explicou. “Essa tecnologia era a que eles teriam trazido consigo.”</p>



<div class="botao1"><a href="/"><img src="imagens/botao.png"></a></div>

</article>
</main>

<!--Rodapé da minha pagina!-->
<footer>
<h3>NEW YORK TIMES</h3>
<p>We believe that great journalism has the power to make each reader’s life richer and more fulfilling, and all of society stronger and more just.</p>
<p class="direitos">© 2021 - Todos os direitos reservados</p>
</footer>

</body>
</html>