<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/estilo.css">
  <script src="javascript/scripts.js"></script>
  <title>MyNewsPage</title>
</head>

<body>

<!--Cabeçalho da minha pagina!-->
<div id="header">
<b>NEW YORK TIMES</b>
</div>
<!--Inicio do conteudo principal!-->
<main class="col-12 g-0">
<article>						

<h2>Ex-assessor de Trump diz que "importância da eleição no Brasil será enorme", mas nega que trabalhará para Bolsonaro</h2><p> 14 set 2021 16h04
| atualizado às 16h38 </p>

 <img src="imagens/list2.png" width="650px" height="450px">

 <p>"Está bastante claro que a mídia de esquerda quer atacar o presidente Bolsonaro e removê-lo do cargo como forma de derrotar o movimento populista em todo o mundo. A importância da eleição no Brasil vai ser enorme, não só para o presidente Bolsonaro"</p>

<p>Apesar do diagnóstico eleitoral, Miller, que esteve no Brasil há uma semana para participar do seminário conservador CPAC Brasil, organizado por Eduardo Bolsonaro, diz que não se envolverá na campanha de reeleição de Jair Bolsonaro em 2022.</p>

<p>Depois de participar das campanhas do ex-presidente americano em 2016 e 2020, ele agora se apresenta como "um homem de negócios". "Não vou me envolver em nenhum ato de campanha, estou preocupado em aumentar o número de seguidores da minha rede", garante.</p>

<p>Há alguns meses, Miller deixou sua posição como assessor do republicano para se tornar CEO da GETTR, uma rede social recém lançada que se vende como um porto seguro para todos os que temem ter seus perfis banidos ou silenciados por violar os termos de uso de plataformas como Twitter ou Facebook — e que caiu nas graças de políticos e militantes de direita.</p>

<div class="botao1"><a href="/"><img src="imagens/botao.png"></a></div>
</article>
</main>

<!--Rodapé da minha pagina!-->
<footer>
<h3>NEW YORK TIMES</h3>
<p>We believe that great journalism has the power to make each reader’s life richer and more fulfilling, and all of society stronger and more just.</p>
<p class="direitos">© 2021 - Todos os direitos reservados</p>
</footer>

</body>
</html>