<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/estilo.css">
  <script src="javascript/scripts.js"></script>
  <title>MyNewsPage</title>
</head>

<body>

<!--Cabeçalho da minha pagina!-->
<div id="header">
<b>NEW YORK TIMES</b>
</div>
<!--Inicio do conteudo principal!-->
<main class="col-12 g-0">
<article>						

<h2>Apple divulga valor de novos iPhones 13 e iPad mini no Brasil</h2><p>14/09/2021 às 16:15 | Atualizado 14/09/2021 às 17:52 </p>


 <img src="imagens/list3.jpg" width="650px" height="450px">

 <p>Com novas funções, cores e tamanhos, a nova geração de relógios da Apple ainda não está sendo vendida aqui, ficou maior. Nos EUA, pode ser encontrado hoje por a partir de US$ 199 (cerca de R$ 1.039).
Já o iPhone 13 e o iPhone 13 Mini, que nos EUA, são vendidos hoje por US$ 799 e US$ 699, podem ser comprados no site brasileiro por R$ 7.599 e R$ 6.599, respectivamente.
O preço do iPhone 13 Pro fica a partir de R$ 10.499, no modelo menor, de 6,1 polegadas. O mais caro, de 1TB, sai por R$ 14.499.</p>

<p>Mais caro de todos, o iPhone Pro Max fica por a partir de R$ 10.499, na versão de 6,7 polegadas. O modelo de 1TB sai por R$ 15.499</p>



<div class="botao1"><a href="/"><img src="imagens/botao.png"></a></div>
</article>
</main>

<!--Rodapé da minha pagina!-->
<footer>
<h3>NEW YORK TIMES</h3>
<p>We believe that great journalism has the power to make each reader’s life richer and more fulfilling, and all of society stronger and more just.</p>
<p class="direitos">© 2021 - Todos os direitos reservados</p>
</footer>

</body>
</html>